<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.TimerTrigger>
      <spec>0 0 * * * </spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># find all config files and copy them to svn working directory
cd /var/lib
for i in `find ./jenkins -name config.xml`; do cp --parents $i <%= node['jenkins']['node']['home'] %>/svn/<%= node['subversion']['repo_name'] %>;done
# add any new files
cd <%= node['jenkins']['node']['home'] %>/svn/<%= node['subversion']['repo_name'] %>
svn add . --force -q  --username <%= node['jenkins']['svn']['user' %> --password <%= node['jenkins']['svn']['password'] %> --non-interactive
#commit the files
svn commit -q -m &apos;adding changed/added jenkins job config.xml files&apos; --username <%= node['jenkins']['svn']['user' %> --password <%= node['jenkins']['svn']['password'] %> --non-interactive</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
